<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.Db_ProductManagementConnectionString"
            connectionString="Data Source=DESKTOP-M3M3TQ4\SQLEXPRESS;Initial Catalog=Db_ProductManagement;User ID=sa;Password=1001"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>